<a href="https://colab.research.google.com/github/mnbpdx/basic-commands-notebook/blob/main/Some_Basic_Numpy_and_Pandas_Commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt

## Read in CSV file:

In [ ]:
df = pd.read_csv(filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data', header=None)

## print/show head

In [ ]:
df.head(3)

     0     1     2    3     4     5   ...     52     53     54   55    56  57
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.000  0.000  3.756   61   278   1
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.180  0.048  5.114  101  1028   1
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.184  0.010  9.821  485  2259   1

[3 rows x 58 columns]

## print specific row

In [ ]:
df.iloc[[4000]]

       0    1    2    3    4    5    6   ...   51   52   53     54  55  56  57
4000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  1.725  13  69   0

[1 rows x 58 columns]

# print specific column

In [ ]:
df.iloc[:, [3]]

        3
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
4596  0.0
4597  0.0
4598  0.0
4599  0.0
4600  0.0

[4601 rows x 1 columns]

## print rows 1 - 10

In [ ]:
df[1:11]

      0     1     2    3     4     5   ...     52     53     54   55    56  57
1   0.21  0.28  0.50  0.0  0.14  0.28  ...  0.180  0.048  5.114  101  1028   1
2   0.06  0.00  0.71  0.0  1.23  0.19  ...  0.184  0.010  9.821  485  2259   1
3   0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40   191   1
4   0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40   191   1
5   0.00  0.00  0.00  0.0  1.85  0.00  ...  0.000  0.000  3.000   15    54   1
6   0.00  0.00  0.00  0.0  1.92  0.00  ...  0.054  0.000  1.671    4   112   1
7   0.00  0.00  0.00  0.0  1.88  0.00  ...  0.000  0.000  2.450   11    49   1
8   0.15  0.00  0.46  0.0  0.61  0.00  ...  0.203  0.022  9.744  445  1257   1
9   0.06  0.12  0.77  0.0  0.19  0.32  ...  0.081  0.000  1.729   43   749   1
10  0.00  0.00  0.00  0.0  0.00  0.00  ...  0.000  0.000  1.312    6    21   1

[10 rows x 58 columns]

## describe() the data

In [ ]:
df.describe()

                0            1   ...            56           57
count  4601.000000  4601.000000  ...   4601.000000  4601.000000
mean      0.104553     0.213015  ...    283.289285     0.394045
std       0.305358     1.290575  ...    606.347851     0.488698
min       0.000000     0.000000  ...      1.000000     0.000000
25%       0.000000     0.000000  ...     35.000000     0.000000
50%       0.000000     0.000000  ...     95.000000     0.000000
75%       0.000000     0.000000  ...    266.000000     1.000000
max       4.540000    14.280000  ...  15841.000000     1.000000

[8 rows x 58 columns]

## get number of rows

In [ ]:
df.shape[0]

4601